
/* ---------------- */

/* B4ZYH1GH.TOP KILL TOP Rigth  */
.kill-feed {position:absolute;top:20px;right:20px;}
.kill-feed>div {padding:3px 6px 3px 6px;margin:0;display:inline-block;float:right;clear:both;border:2px #800000 solid;line-height:18px;font-size:15px;font-weight:normal;text-decoration:none;text-align:right;border-radius:4px;background:rgba(0,0,0,0.75);margin-bottom:6px;}
.kill-feed div span {vertical-align:middle;}
.kill-feed div span.weapons>img {border:none;outline:none;vertical-align:middle;margin:0px 3px;}
.kill-feed div>span.player {font-family:'Bazy';font-size:16px;font-weight:bold;margin:0 2px;}
.kill-feed div>span.player.ct {color:#4F9EDE;padding-left:2px;}
.kill-feed div>span.player.t {color:#C7A247;padding-right:4px;}
/* ---------------------------- */

/* Preloader */
.preloader{position:fixed;top:0;left:0;width:100%;height:100%;background:black;transition:opacity .1s;transition-delay:3s;z-index:9999999;}
.preloader.is-loaded{pointer-events:none;background:transparent;opacity:0;}
.pl-line{position:absolute;width:1px;height:150%;background:black;left:50%;top:50%;transform:translate(-50%,-50%) rotate(20deg);transition:opacity 1s ease-out;}
.is-loaded .pl-line{opacity:0;}
.pl-line > div{position:absolute;height:100%;width:100%;background:#fff;top:0;left:0;transform:translateY(-100%);animation:pulse 2s infinite;will-change:transform;animation-timing-function:cubic-bezier(0.785,0.135,0.15,0.86);}
.pl-l,.pl-r{position:absolute;top:0;width:70%;height:100%;transition:transform 1s cubic-bezier(0.785,0.135,0.15,0.86);will-change:transform;background:black;}
.pl-l{left:-20%;transform:skew(-20deg);}
.is-loaded .pl-l{transform:translateX(-100%) skew(-20deg);}
.pl-r{right:-20%;transform:skew(-20deg);}
.is-loaded .pl-r{transform:translateX(100%) skew(-20deg);}
@keyframes pulse {0% {transform: translateY(-100%);}100% {transform: translateY(100%);}}
/* --------- */
